<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ExtentReportManager"/>
	</listeners>
   <parameter name="browser" value="chrome"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testcase.TC_001_CourseDetails"/>
       <class name="com.testcase.TC_002_CourseDetails"/>
      <class name="com.testcase.TC_003_CourseDetails"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
